@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: white;
    --secondary-color: rgb(131, 30, 226);
    --accent-color: rgb(56, 130, 227);
    --border-color: rgb(184, 182, 182);
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Zalando Sans, sans-serif, helvetica;
  
   
}



#wrapper {
    background: linear-gradient(to bottom right, var(--secondary-color), var(--accent-color));
    padding: 30px 40px;
   
}



.content-box {
    box-sizing: border-box;
    max-width: 700px;
    min-width: 300px;
    min-height:  600px;
    height: 91vh;
   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    
    
    border-radius: 20px;
    overflow: hidden;
    
    background-color: var(--primary-color);
    
  
    
}

header {
    height: 20%;
    text-align: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    background-color: var(--accent-color);
    
}



.chatBox {
  
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    height: 350px;
    overflow-y: auto;

}

form {
    display: block;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    
}

form textarea {
    font: inherit;
    line-height: 1.2;
    box-sizing: border-box;
    padding-top: 13px;   
    resize: none;
    width: 75%;
    max-height: 54px;
    border: 1px solid var(--border-color) ;
    border-radius: 30px;
    margin-right: 15px;
  

    font-size: 1.2em;
    padding-left: 10px;
    background-color: rgb(237, 238, 241);

}

form textarea::placeholder {
    font-size: large;
}

form textarea:focus {
    outline: none;
    border-color: rgb(134, 133, 133) ;
}

form button {
    border-radius: 30px;
    height: 55px;
    width: 100px;
    min-width: 60px;
    color: var(--primary-color);
    background-color: var(--accent-color);
    border: 1px solid var(--border-color);
    font-weight: 550;
    font-size: large; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;
    margin-right: 10px;
    transition: 150ms ease;
}

form button:hover {
    background-color: rgb(77, 107, 242);

}


/* Newsht */

#clearBtn {
    border-radius: 30px;
    height: 55px;
    width: 100px;
    min-width: 60px;
    color: var(--primary-color);
    background-color: red;
    border: 1px solid var(--border-color);
    font-weight: 550;
    font-size: large; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;
    margin-right: 10px;
    transition: 150ms ease;
}






/* End Newsht */
#notification {
    border-top: 1px solid rgba(255, 191, 0, 0.654);
    background-color: rgba(255, 231, 16, 0.366);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
    color: rgba(165, 42, 42, 0.86);
    font-weight: 450;

    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 28px;

    justify-content: center;

    transform: translateY(100%);
    animation: notice-slide-up .35s ease-out forwards;

}


@keyframes notice-slide-up{
  to { transform: translateY(0); }
}






.bot {
    display: flex;
    justify-content: start;
    --bubble-bg: rgba(93, 114, 127, 0.103);
    --bubble-border: rgba(93, 114, 127, 0.103);
    --bubble-fg: black;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    .message {
        border-bottom-left-radius: 0;
    }
    
}

.user {
    display: flex;
    justify-content: end;
    --bubble-bg: rgb(56, 130, 227);
    --bubble-border: rgba(56, 130, 227, 0.699);
    --bubble-fg: white;
    margin-right: 20px;
    margin-left: 15px;
    
   

     .message {
        border-bottom-right-radius: 0;
    }
    
}

.message {
    display: inline-block;
    padding: 1em 1em;
    border: 1px solid var(--bubble-border, #ddd);
    background: var(--bubble-bg, #fff);
    color: var(--bubble-fg, #111);
    border-radius: 20px;
   
    
    max-width: 34ch;
    word-wrap: break-word;
    
    margin-top: 5px;
    margin-bottom: 5px;

}


