@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --primary-color: white;
    --secondary-color: rgb(131, 30, 226);
    --accent-color: rgb(56, 130, 227);
    --border-color: rgb(184, 182, 182);
}

body {
  font: 20px sans-serif;
}


html {
    font-family: Zalando Sans, sans-serif, helvetica !important;  
}

/** main structure styles */

.wrapper {
   height: 100vh;
   background: linear-gradient(to bottom right, var(--secondary-color), var(--accent-color));
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   overflow-y: auto;
   
  
}

.box {
    box-sizing: border-box;
    border: 5px solid black;
    height: clamp(400px, 80%, 90vh); 
    width: clamp(360px, 80vmin, 90vw);
    background: white;

}

simple-chat {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, var(--sidebar, 0)) 3fr;
    grid-template-rows: 1fr 3fr 1fr;
}

simple-chat > header {
    text-align: center;
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--primary-color);
    background-color: var(--accent-color);
    gap: 8px;
    border-bottom: 1px solid var(--border-color);
}

simple-chat > header > h1 {
    font-size: 2em;
    font-weight: bold; 
}

simple-chat > header > p {
    font-size: 1em;
    font-weight: normal;
}

simple-chat > header > button {
  position: absolute; 
  bottom: 0rem;      
  left: 0rem;   
  font-size: 1em;
  background: transparent;
  border: none;
}

/** sidebar styles */

#sideBar {
    grid-row: 2 /4;
    grid-column: 1;
    width: var(--sidebar, 0);
    overflow: hidden;
    border-right: 1px solid var(--border-color);
}

.box.is-open {
    --sidebar: 10rem
}

#sideBar > header {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    font-weight: bold;
    font-size: 1.2em;
}

#sideBar > main {
   overflow-y: auto;
}



/** main chat styles */

simple-chat > main {
    grid-column: 2;
    grid-row: 2;
    padding: 20px;
    overflow-y: auto;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

simple-chat > footer {
    grid-column: 2;
    grid-row: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: lightgray;
    border: 1px solid var(--border-color);

}

simple-chat > footer > #chatForm {
   display: contents;
    width: 100%;
    
}

/** Chat form styles */

#messageBox {
    font: inherit;
    box-sizing: border-box;
    line-height: 1.2;
    width: 70%;
    max-height: 40%;
    
    resize: none;
    border-radius: 20px;
    padding-top: 7px;
    padding-bottom: 2px;
    padding-left: 10px; 

}


#messageBox:focus {
    outline: none;
    border-color: rgb(138, 137, 137) ;
}

#sendBtn {
    font: inherit;
    font-size: large;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-color);
}

#sendBtn:hover {
    background-color: rgb(77, 107, 242);
}


.chatBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}


/** message styles */

.message {
    width: fit-content;
    max-width: 30ch;
    line-height: 1.1;
    padding: 0.5em 0.5em;
    gap: 10px;
    
}

.message.bot {
    background-color: rgb(220, 220, 220);
    border-radius: 15px 15px 15px 0px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.message.user {
    align-self: flex-end;
    background-color: rgb(134, 193, 250);
    border-radius: 15px 15px 0px 15px;
    margin-bottom: 10px;
    margin-left: 15px;
}


/* Newsht */

#clearBtn {
    border-radius: 30px;
    height: 55px;
    width: 100px;
    min-width: 60px;
    color: var(--primary-color);
    background-color: red;
    border: 1px solid var(--border-color);
    font-weight: 550;
    font-size: large; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 150ms ease;
    margin-right: 10px;
    transition: 150ms ease;
}


/* End Newsht */